* {
    margin: 0;
    bottom: 0;
    padding: 0;
}

.buttons::selection {
    background-color: transparent; 
}

body {
    background: url(img/main_foto.jpg) center no-repeat;
    background-size: cover;
    
}

#wrapper {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1170px) {
    #wrapper {
        width: 100%;
        height: 100%;
    }
   }

#welcome {
    text-align: center;
    margin-top: 100px;
   text-shadow: 
    -0   -1px 0   rgb(34, 32, 153),
     0   -1px 0   rgb(34, 32, 153),
    -0    1px 0   rgb(34, 32, 153),
     0    1px 0   rgb(34, 32, 153),
    -1px -0   0   rgb(34, 32, 153),
     1px -0   0   rgb(34, 32, 153),
    -1px  0   0   rgb(34, 32, 153),
     1px  0   0   rgb(34, 32, 153),
    -1px -1px 0   rgb(34, 32, 153),
     1px -1px 0   rgb(34, 32, 153),
    -1px  1px 0   rgb(34, 32, 153),
     1px  1px 0   rgb(34, 32, 153),
    -1px -1px 0   rgb(34, 32, 153),
     1px -1px 0   rgb(34, 32, 153),
    -1px  1px 0   rgb(34, 32, 153),
     1px  1px 0   rgb(34, 32, 153); 
     color: white;
    font-size: 3.5em;
}

#after_welcome {
    text-align: justify;
    margin-top: 60px;
    padding: 0 12px;
    font-size: 3em;
    text-shadow: 
    -0   -1px 0   rgb(34, 32, 153),
     0   -1px 0   rgb(34, 32, 153),
    -0    1px 0   rgb(34, 32, 153),
     0    1px 0   rgb(34, 32, 153),
    -1px -0   0   rgb(34, 32, 153),
     1px -0   0   rgb(34, 32, 153),
    -1px  0   0   rgb(34, 32, 153),
     1px  0   0   rgb(34, 32, 153),
    -1px -1px 0   rgb(34, 32, 153),
     1px -1px 0   rgb(34, 32, 153),
    -1px  1px 0   rgb(34, 32, 153),
     1px  1px 0   rgb(34, 32, 153),
    -1px -1px 0   rgb(34, 32, 153),
     1px -1px 0   rgb(34, 32, 153),
    -1px  1px 0   rgb(34, 32, 153),
     1px  1px 0   rgb(34, 32, 153);
     color: white;
}

#enter {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    background: rgb(255, 175, 38);
    color: black;
    font-size: 1.5em;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 57px;
    width: 210px;
    text-align: center;
    cursor: pointer;
}

#registration_main {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    background: orange;
    color: black;
    font-size: 2.75em;
    border-radius: 10px;
    height: 60px;
    width: 400px;
    text-align: center;
    margin: 50px auto;
    cursor: pointer;
}

#enter_form {
    width: 50vw;
    height: 55vw;
    max-height: 550px;
    max-width: 500px;
    border: 1px solid black;
    padding: 5px;
    background: rgb(113, 177, 250);
    color: black;
    font-size: 2em;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    display: none;
    margin-top: -270px;
}

#registration_form {
    width: 500px;
    height: 610px;
    border: 1px solid black;
    padding: 5px;
    background: rgb(113, 177, 250);
    color: black;
    font-size: 2em;
    border-radius: 10px;
    margin: -310px auto;
    text-align: center;
    display: none;
}

#true_registration_form {
    width: 500px;
    height: 220px;
    border: 1px solid black;
    padding: 5px;
    background: rgb(113, 177, 250);
    color: black;
    font-size: 2em;
    border-radius: 10px;
    margin: -80px auto;
    text-align: center;
    display: none;
}

#background_form {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 50vh;
    display: none;
}

.input_text {
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 1em;
}

.input_lines {
    height: 50px;
    width: 400px;
    font-size: 1.2em;
    margin-top: 20px;
}

#enter_button {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    background: rgb(81, 207, 144);
    color: black;
    font-size: 1.4em;
    border-radius: 10px;
    width: 250px;
    height: 55px;
    margin: 40px auto;
    cursor: pointer;
}

#enter_button2 {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    background: rgb(81, 207, 144);
    color: black;
    font-size: 1em;
    border-radius: 10px;
    width: 250px;
    height: 80px;
    margin: 40px auto;
    cursor: pointer;
}

#registration_button {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    background: rgb(81, 207, 144);
    color: black;
    font-size: 1.3em;
    border-radius: 10px;
    width: 400px;
    height: 55px;
    margin: 40px auto;
    cursor: pointer;
}

#enter_in_form {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    background: rgb(81, 207, 144);
    color: black;
    font-size: 0.7em;
    border-radius: 10px;
    width: 215px;
    height: 30px;
    cursor: pointer;
}

#enter_text {
    display: inline-block;
    font-size: 0.6em;
    color: rgb(63, 63, 201);
    margin-top: 10%;
    margin-right: 35px;
}

#registration_in_form {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    background: rgb(81, 207, 144);
    color: black;
    font-size: 0.7em;
    border-radius: 10px;
    width: 215px;
    height: 30px;
    cursor: pointer;
}

#registration_text {
    display: inline-block;
    font-size: 0.6em;
    color: rgb(63, 63, 201);
    margin-top: 30px;
    margin-right: 35px;
}

#true_registration_text {
    text-align: center;
    margin-left: 0px;
}

h6 {
    font-weight: normal;
}
